.hero-unit
  %h1 Recall | A Sinatra Project
  %p
    Recall is a sinatra based task management application.  The purpose is for me to learn up-and-coming web
    technologies and to have a simple little project to work on outside of the office.

  %p 
    To start, see
    %a{:href => '/tasks'} the Tasks page
    for a listing of tasks.

  %p
    See
    %a{:href => 'http://github.com/wanthony/recall'} GitHub
    for the full source of the project.  Recall is hosted on 
    %a{:href => 'http://heroku.com'} Heroku.

